{% extends "base.html" %}

{% block head_title %} {{ user.username }} {% endblock head_title %}

{% block content %}

    {{ block.super }}
    <h1>{{ user.username }}</h1> 
    <p>{% include 'profiles/snippet/follow_form.html' with username=user.username %}</p>
    <form action="." class="form" method='GET'>
        <input type="text" placeholder="Search....." name="q" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr>
    <!-- {{ user.restaurantlocation_set.all }} -->

    <!-- Only if item available -->
    {% if locations %} 

        {% for restaurants in locations %}
            <div class="row">

                <div class="col-sm-12">
                    <div class="card">
                    <b>{{ restaurants.title }}</b>
                    <p><a href="{{ request.path }}?q={{ restaurants.location }}">{{ restaurants.location }}</a> | 
                        <a href="{{ request.path }}?q={{ restaurants.category }}">{{ restaurants.category }}</a></p>
                    <b>Menus : </b>
                        <ol>
                            <!-- <li>{{ restaurants.item_set.all }}</li> -->
                            {% for items in restaurants.item_set.all %}
                                <li style="margin-bottom : 15px"><b>{{ items.name }}</b><br>
                                    Ingredient : 
                                    <!-- {{ items.contents }} -->
                                    {% for ingredient in items.get_contents %}
                                        <a href="{{ request.path }}?q={{ ingredient }}">{{ ingredient }}</a>, 
                                    {% endfor %}
                                    <br>
                                    Exclude : 
                                    <!-- {{ items.excludes }} -->
                                    {% for exclude in items.get_excludes %}
                                        <a href="{{ request.path }}?q={{ exclude }}">{{ exclude }}</a>, 
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endfor %} 

    {% else %}
        <p class="lead">No item available</p>
    {% endif %}

{% endblock content %}
