{% extends "base.html" %}

{% block head_title %} {{ user.username }} {% endblock head_title %}

{% block content %}

    {{ block.super }}
    <h1>{{ user.username }}</h1> 
    <hr>
    <!-- {{ user.restaurantlocation_set.all }} -->

    <!-- Only if item available -->
    {% if user.item_set.all.exists %} 
        {% if locations %} 

            {% for restaurants in locations %}
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                        <b>{{ restaurants.title }}</b> - {{ restaurants.location }} | {{ restaurants.category }}
                        <b>Menus : </b>
                            <ol>
                                <!-- <li>{{ restaurants.item_set.all }}</li> -->
                                {% for items in restaurants.item_set.all %}
                                    <li style="margin-bottom : 15px"><b>{{ items.name }}</b><br>
                                        Ingredient : {{ items.contents }}
                                        <!-- {% for ingredient in items.get_contents %}
                                            <span class="badge badge-default">{{ ingredient }}, </span>
                                        {% endfor %} -->
                                        <br>
                                        Exclude : {{ items.excludes }}
                                        <!-- {% for exclude in items.get_excludes %}
                                            <span class="badge badge-danger">{{ exclude }}, </span>
                                        {% endfor %} -->
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        {% endif %}

    {% else %}
        <p class="lead">No item available</p>
    {% endif %}
{% endblock content %}
